@font-face {
    font-family: 'akz';
    src: url('/assets/fonts/akzmdcn-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
  color: $black;
  font-family: georgia, serif;
  line-height: 1.4;
  font-size: 16px;
  background-repeat: repeat-y;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

h1, h2, h3, h4, nav {
  font-family: 'akz', 'arial narrow';
  text-transform: uppercase;
  letter-spacing: .1em;
  line-height: 1;
}

h2 {
  font-size: 2em;
  margin-bottom: $gutter/8;
}

h3 {
  font-size: 1.5em;
}

a {
  color: $red;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

em {
  font-weight: bold;
}

input {
  -webkit-appearance: none;
  border: none;
  font-size: 1.5em;
  line-height: 1;
  border-bottom: 2px solid;
  font-family: 'akz', 'arial narrow', sans-serif;
  text-transform: uppercase;
  &[type=submit] {
    border: 2px solid;
    background: white;
    cursor: pointer;
    &:hover {
      background: black;
      color: white;
      border-color: black;
    }
    &:active {
      background: $red;
    }
  }
  &:focus, &:active {
    outline: none;
  }
}


#global_header {
  background-color: $black;
  background-image: url(/images/heads.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 4px solid $black;
  a {
    border-bottom: none;
    color: $white;
    &:hover {
      color: white;
      text-decoration: none;
    }
  }
  nav a, nav span {
    font-size: 1.5em;
    text-shadow: 0 0 8px black;
    padding: .2em;
  }
  nav span {
    background: $white;
    text-shadow: none;
    opacity: .9;
  }
}

#global_footer {
  border-top: 4px solid $black;
  text-align: center;
  nav { color: $red; }
  a { color: $black; }
  p {
    font-size: smaller;
  }
}
.headline {
  font-family: 'akz', 'arial narrow';
  text-transform: uppercase;
  line-height: 1;
  text-align: center;
  margin-bottom: $gutter/2;
  h1 {
    font-size: 3em;
    letter-spacing: 0;
  }
}

.gig {
  h1 a { color: $grey; }
}

ul.posts .row {
  border-bottom: 1px solid $white;
  a { color: $grey; }
  &:hover {
    background: $white;
  }
  &:last-child { border-bottom: none; }
}

.gigs .row {
  border-bottom: 1px solid $white;
  &:last-child { border-bottom: none; }
}

::selection { background: $red; color: $white; }
::-moz-selection { background: $red; color: $white; }

.excerpt {
  letter-spacing: 0;
  line-height: 1.4;
}
.centered {
  text-align: center;
}
