---
layout: list
---
<div class="newspaper">
  <section>
    <header><h2><a href='/gigs'>Next Gigs ▸</a></h2></header>
    <article>
      {% assign site_time = site.time | date: "%Y%m%d" %}
        {% for gig in site.categories.gigs reversed | limit: 3 %}
        {% assign t = gig.date | date: "%Y%m%d" %}
          {% if t >= site_time %}
          <div>
            <em>{{ gig.date | date: "%b %d") }}:</em>
            {{ gig.venue_name }} -
            {{ gig.venue_location }}
          </div>
          {% endif %}
        {% endfor %}
    </article>
  </section>
  <section>
    <header><h2>Keep in Touch</h2></header>
    <article>{% include mailchimp.html %}</article>
  </section>

</div>

<section class='video'>
  <h2><a href='/videos'>Watch ▸</a></h2>
  {% for video in site.categories.videos reversed | limit:1 %}
    <div class='embedded_video'>
      <iframe src="//www.youtube.com/embed/{{ video.youtube_id }}" frameborder=0 webkitAllowFullScreen mozallowfullscreen allowFullScreen seamless></iframe>
    </div>
  {% endfor %}
</section>

<blockquote>{{ site.bio }}</blockquote>
