---
layout: list
---

<div class="row">
  <div class="g8">
    <section class='video'>
      <h2>Watch &ldquo;BONES&rdquo; loudly</h2>
      {% for video in site.categories.videos | limit:1 %}
        <a class='embedded_video' href='http://www.youtube.com/watch?v={{ video.youtube_id }}'>
          <img src="{{ video.poster }}" alt=" {{ video.title }}" />
        </a>
      {% endfor %}
    </section>
  </div>
  <div class="g4">
    <section>
      <header><h2>Join the list</h2></header>
      <article>{% include mailchimp.html %}</article>
    </section>
    <section>
      <header><h2><a href='/gigs'>Come to a show ▸</a></h2></header>
      <article>
        {% assign site_time = site.time | date: "%Y%m%d" %}
          {% for gig in site.categories.gigs reversed | limit: 3 %}
          {% assign t = gig.date | date: "%Y%m%d" %}
            {% if t >= site_time %}
            <div>
              <em>{{ gig.date | date: "%b %d") }}:</em>
              {{ gig.venue_name }} -
              {{ gig.venue_location }}
            </div>
            {% endif %}
          {% endfor %}
      </article>
    </section>
  </div>
</div>
