html {
  color:#666;
  background-color: rgb(241,241,241);
  font-family: courier, monospace;
  font-size: 12px;
  line-height: 1.4em;
}

body { margin: 0; padding: 0; }

.sized {
  max-width: 620px;
  margin: 0 auto;
  padding: 0 10px;
}

a {
  color: #993333;
}

* {
  font-size: 1em;
}

h1 {
  color: rgb(241,241,241);
  background-color: rgb(41,41,41);
  display: inline-block;
  padding: 1em 1em 1em 1.5em;
  font-family: futura, 'century gothic', sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  margin: 4em 0 2em;
  letter-spacing: .5em;
  -webkit-transform: rotate(-6deg) skew(-6deg);
  -moz-transform: rotate(-6deg) skew(-6deg);
  -ms-transform: rotate(-6deg) skew(-6deg);
  -o-transform: rotate(-6deg) skew(-6deg);
  transform: rotate(-6deg) skew(-6deg);
}

h2,h3,h4,h5,h6 {
  font-weight: normal;
  color: black;
}

#actions li {
  margin-bottom: 2.8em;
}

#tumblr {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  margin-top: 5.6em;
}

#tumblr table {
  border-collapse: collapse;
}

#tumblr td {
  padding: 0;
}

#tumblr a {
  display: block;
  padding-right: 1px;
}

#tumblr img {
  height: 24em;
  width: auto;
  display: block;
}
