/*
Errno::ENOENT: No such file or directory @ rb_sysopen - sass/.scss

Backtrace:
/Users/thenepotist/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.2.14/lib/sass/plugin/compiler.rb:360:in `read'
/Users/thenepotist/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.2.14/lib/sass/plugin/compiler.rb:360:in `update_stylesheet'
/Users/thenepotist/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.2.14/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/Users/thenepotist/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.2.14/lib/sass/plugin/compiler.rb:201:in `each'
/Users/thenepotist/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.2.14/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/Users/thenepotist/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.2.14/lib/sass/plugin/compiler.rb:283:in `block in watch'
/Users/thenepotist/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.2.14/vendor/listen/lib/listen/multi_listener.rb:108:in `call'
/Users/thenepotist/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.2.14/vendor/listen/lib/listen/multi_listener.rb:108:in `on_change'
/Users/thenepotist/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.2.14/vendor/listen/lib/listen/multi_listener.rb:117:in `block in initialize_adapter'
/Users/thenepotist/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.2.14/vendor/listen/lib/listen/adapter.rb:198:in `call'
/Users/thenepotist/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.2.14/vendor/listen/lib/listen/adapter.rb:198:in `report_changes'
/Users/thenepotist/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.2.14/vendor/listen/lib/listen/adapter.rb:210:in `poll_changed_dirs'
/Users/thenepotist/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.2.14/vendor/listen/lib/listen/adapters/darwin.rb:38:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Errno::ENOENT: No such file or directory @ rb_sysopen - sass/.scss"; }
