<li class="gig row">
  <div class="g2">
    <div class="calendar_date">
      <div class="calendar_month">{{ gig.date | date: "%b") }}</div>
      <div class="calendar_day">{{ gig.date | date: "%d" }}</div>
      <h4 class="calendar_day_of_week">{{ gig.date | date: "%a" }}</h4>
    </div>
  </div>
  <div class="g8">
    <h1>
      <a href="{{ gig.venue_link}}">{{ gig.venue_name }} ▸</a>
    </h1>
    {% if gig.poster %}
      <img src="{{ gig.poster }}">
    {% endif %}
    {{ gig.content }}
  </div>
  <div class="g2">
    <p>{{ gig.venue_location }}</p>
    <p>{{ gig.time }}</p>
    {% if gig.map_link %}<p><a href="{{ gig.map_link }}">Map ▸</a></p>{% endif %}
  </div>
</li>
