<div id='global_footer'>
  {% include nav.html %}
  <ul id="footer_social_links" class='sized'>
    <li>
      <a href="http://www.twitter.com/thenepotist">
        <img src="/images/twitter-logo.png" alt="Follow The Nepotist on Twiter" />
      </a>
    </li>
    <li>
      <a href="http://thenepotist.tumblr.com">
        <img src="/images/tumblr-logo.png" alt="Follow The Nepotist on Tumblr" />
      </a>
    </li>
    <li>
      <a href="http://www.facebook.com/thenepotist">
        <img src="/images/facebook-logo.png" alt="Like The Nepotist on Facebook" />
      </a>
    </li>
  </ul>
  <p class='sized'>Copyright &copy; {{ site.time | date: "%Y"}} <a href="/">The Nepotist</a></p>
</div>

<script src="/assets/nvid.js?v{{ site.time | date: '%m%d%y%H%M%S' }}"></script>
<script>
  new nvid(document.querySelectorAll('a.embedded_video'))
</script>
<script>
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-29161956-1']);
_gaq.push(['_setDomainName', 'thenepotist.com']);
_gaq.push(['_trackPageview']);

(function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>

</body>
</html>
