<div id="footer" class="newspaper">
  <article class="narrow right">
    <div class="footer_logo">
      {% if page.title %}
        <a href="/"><img src="/images/n_large.png" alt="The Nepotist logo" /></a>
      {% else %}
        <img src="/images/n_large.png" alt="The Nepotist logo" />
      {% endif %}
    </div>
    All Content &copy; {{ site.time | date: "%Y" }}.
  </article>
  <article>
    <h3>The What?</h3>
    <p class="bio">{{ site.bio }}</p>
  </article>
  <article>
    <h3>Nepotism Here:</h3>
    <ul>
      <li><a href="/songs">Songs</a></li>
      <li><a href="/gigs">Gigs</a></li>
      <li><a href="/posts">Posts</a></li>
      <li><a href="/presskit">Press Kit</a></li>
    </ul>
  </article>
  <article>
    <h3>Nepotism Elsewhere:</h3>
    <ul>
      <li><a href="http://thenepotist.tumblr.com/">Tumblr</a></li>
      <li><a href="http://music.thenepotist.com/">BandCamp</a></li>
      <li><a href="http://facebook.com/thenepotist.myspace">Facebook</a></li>
      <li><a href="http://twitter.com/thenepotist">Twitter</a></li>
    </ul>
  </article>
</div>
<script src="/assets/n.js?v{{ site.time | date: '%m%d%y%H%M%S' }}"></script>
</body>
</html>
