<!DOCTYPE html>
<html lang="en">
<head>
<title>The Nepotist</title>
<meta name="description" content="The Nepotist is a band from New York, NY.
  Chris Frank plays guitar and sings. Hayden Frank plays bass and sings.
  They are brothers, not married. Dana Billings drums." />
<meta name="viewport" content="width=device-width" />
<link rel="stylesheet" type="text/css" href="/style.css" />
<link rel="shortcut icon" href="/images/favicon.png" />
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
</head>
<body>
