<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
<form action="http://thenepotist.us1.list-manage.com/subscribe/post?u=f32688cc3e0d7382c3256537a&amp;id=6fbec92b04" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
<input type="email" value="" name="EMAIL" class='email' id="mce-EMAIL" required placeholder="you@here.com" size="20">
<input class='submit' type="submit" value="Yes" name="subscribe" id="mc-embedded-subscribe">
</form>
</div>

<!--End mc_embed_signup-->
