<nav>
  <ul class='sized'>
    {% if page.url == "/about.html" %}<li><span>About</span></li>{% else %}
      <li><a href="/about.html">About</a></li>
    {% endif %}
    {% if page.url == "/gigs/index.html" %}<li><span>Gigs</span></li>{% else %}
      <li><a href="/gigs">Gigs</a></li>
    {% endif %}
    {% if page.url == "/music/index.html" %}<li><span>Music</span></li>{% else %}
      <li><a href="/music">Music</a></li>
    {% endif %}
    {% if page.url == "/videos/index.html" %}<li><span>Videos</span></li>{% else %}
      <li><a href="/videos">Videos</a></li>
    {% endif %}
    {% if page.url == "/photos/index.html" %}<li><span>Photos</span></li>{% else %}
      <li><a href="/photos">Photos</a></li>
    {% endif %}
    {% if page.url == "/posts/index.html" %}<li><span>Posts</span></li>{% else %}
      <li><a href="/posts">Posts</a></li>
    {% endif %}
    {% if page.url == "/press/index.html" %}<li><span>Press</span></li>{% else %}
      <li><a href="/press">Press</a></li>
    {% endif %}
    {% if page.url == "/contact.html" %}<li><span>Contact</span></li>{% else %}
      <li><a href="/contact.html">Contact</a></li>
    {% endif %}
  </ul>
</nav>
