<nav class='sized'>
  {% if page.url != "/index.html" %}
    <a href="/">The Nepotist</a>
  {% endif %}
  {% if page.url == "/gigs/index.html" %}<span>Gigs</span>{% else %}
    <a href="/gigs">Gigs</a>
  {% endif %}
  {% if page.url == "/posts/index.html" %}<span>Posts</span>{% else %}
    <a href="/posts">Posts</a>
  {% endif %}
  {% if page.url == "/music/index.html" %}<span>Music</span>{% else %}
    <a href="/music">Music</a>
  {% endif %}
  {% if page.url == "/videos/index.html" %}<span>Videos</span>{% else %}
    <a href="/videos">Videos</a>
  {% endif %}
  <a href="http://thenepotist.tumblr.com">Tumblr</a>
  <a href="http://facebook.com/thenepotist">Facebook</a>
  {% if page.url == "/contact.html" %}<span>Contact</span>{% else %}
    <a href="/contact.html">Contact</a>
  {% endif %}
</nav>
