<article id="nep_info" class="narrow">
  <div class="logo">
    {% if page.title %}
      <a href="/"><img src="/images/avatar.png" alt="The Nepotist" /></a>
    {% else %}
      <img src="/images/avatar.png" alt="The Nepotist" />
    {% endif %}
  </div>
  <h1 class="nep_logo"><a href="/">The Nepotist</a></h1>
  <p>
    <a href="mailto:chris@thenepotist.com">chris@thenepotist.com</a><br />
    646.543.4789<br />
    New York City<br />
  </p>
  <p>We write songs and sometimes letters.<p>
  <p>What's your email?</p>
  {% include mailchimp.html %}
</article>
