<div class="logo">
  <img src="/images/n_large.png" alt="The Nepotist" />
</div>
<div class="cell">
  <div class="business_card">
    <h1 class="nep_logo">
      <a href="/">The Nepotist</a>
    </h1>
    <p>
    <a href="mailto:chris@thenepotist.com">chris@thenepotist.com</a><br />
    646.543.4789<br />
    New York City<br />
    </p>
    <p>We write songs and sometimes letters.<br />What's your email?</p>
    <form id="mc_signup" action="/">
      <input type="email" required autofocus />
      <input type="submit" value="Join the list" />
    </form>
  </div><!-- business_card -->
</div><!-- cell -->
