html {
  height: 100%;
}

body {
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  padding: 10px;
}

nav {
  line-height: 1;
  background: white;
}

nav > * {
  padding: 10px 3px;
  display: inline-block;
}

nav img {
  height: 2em;
  opacity: .75;
  display: inline;
  position: relative;
  top: .5em;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

ol, ul {
  margin-left: 0;
  padding-left: 0;
}

ol ol, ul ul {
  margin-left: 1em;
}

li {
  margin-bottom: .4em;
}

hr {
  border: none;
  height: 1px;
  background: #e5e6e8;
  margin: 1em auto;
}

img {
  max-width: 100%;
  height: auto;
}
