.newspaper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1248px;
}

article {
  display: table-cell;
  width: 26em;
  padding: 2em;
  border-left: 1px solid;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
}

article:first-child { border-left: none; }

article.narrow {
  width: 18em;
}

.dated_list li {
  margin-bottom: 1em;
}

.date_info {
  display: inline-block;
}
.date_info p { margin: 0; }

.calendar_date {
  display: inline-block;
  width: 3em;
}

.calendar_month {
  padding: 0 3px;
  font-variant: small-caps;
  text-transform: lowercase;
  text-align: left;
}
.calendar_day {
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 1.5em;
}

.logo img {
  width: 14em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.nep_logo { display: none; }

.mp3s, .dated_list {
  list-style: none;
}
.mp3s li {
  display: block;
  margin-bottom: 1em;
  position: relative;
  -webkit-font-smoothing: antialiased;
}
.mp3s a {
  display: block;
  padding: 1em;
}

.mp3s .download {
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 32px;
  line-height: 31px;
  height: 32px;
  width: 32px;
  overflow: hidden;
  position: absolute;
  top: 6px;
  right: 3px;
  padding: 0;
  border: none;
  text-align: center;
}

.videos { list-style: none; width: 100%; }
.video { display: block; margin-bottom: 1em; }
.video img {
  width: 22em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid;
}
.sized {
  overflow: hidden;
  max-width: 1248px;
  margin-left: auto;
  margin-right: auto;
}
.photos {
  background: #111213;
  padding: 2em 1em 0;
  border-top: 1px solid;
  border-bottom: 1px solid;
  display: inline-table;
  width: 100%;
  text-align: right;
  margin-bottom: -5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.photo {
  width: 33.3333%;
  display: inline-block;
  border: none;
}
.photo img { width: 100%; display: block; }
.photos p:before {
  content: "";
  display: block;
  clear: both;
}
.right {
  text-align: right;
}
