.sized {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.feature-wrap {
  display: table;
  height: 100%;
  width: 100%;
  position: relative;
}
.feature {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.feature iframe {
  margin: 0 auto;
  background-color: #999;
}
.centered {
  text-align: center;
}
.footer {
  padding: 10px;
}
.l_home .footer {
  display: none;
}
.mp3s {
  list-style: none;
}
.mp3s li {
  margin-bottom: 1.4em;
}
.videos {
  list-style: none;
}
.embedded_video {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
  margin-bottom: 1.4em;
  background-color: #eee;
}
.embedded_video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.mc {
  text-align: center;
  padding-bottom: 20px;
}

.newspaper {
 // max-width: 480px;
}
.newspaper .intro {
  text-align: center;
}
.intro h1 span {
  display: none;
}
.intro p {
  max-width: 40em;
}
.intro img {
  opacity: 0.8;
  height: 9em;
  display: block;
  margin: 0 auto;
}
.newspaper section {
  padding: 1em 0;
}
.newspaper p {
  margin: 0 auto;
}

@media (max-width: 480px) {
  .padding {
    vertical-align: top;
  }
}

