.sized {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.feature-wrap {
  display: table;
  height: 100%;
  width: 100%;
  position: relative;
}
.feature {
  display: table-cell;
  vertical-align: middle;
}
.feature iframe {
  margin: 0 auto;
  background-color: #999;
}
.centered {
  text-align: center;
}
.footer {
  padding: 10px;
}
.l_home .footer {
  display: none;
}
@media (max-width: 480px) {
  .feature {
    vertical-align: top;
  }
}

