html {
  color: #e5e6e8;
  min-height: 100%;
  background-color: #26292c;
  //background-color: #000;
  font-family: "menlo", "monaco", monospace;
  //-webkit-font-smoothing: antialiased;
}


.white {
  background-color: #e5e6e8;
  color: #26292c;
}

.splash_bottom a {
  background: #e5e6e8;
  color: black;
  line-height: 2em;
  height: 2em;
  display: inline-block;
  padding: 0 1em;
  margin-top: -1em;
}

.mp3 {
  background: #26292c;
  border: 1px solid #e5e6e8;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border .3s;
}

.mp3:hover {
  border: 1px solid #ac4f4a;
}

.calendar_date {
  background: #e5e6e8;
  color: #000;
}
.calendar_month {
  padding: .1em;
  background: #ac4f4a;
  color: #e5e6e8;
}

a {
  text-decoration: none;
  border-bottom: 2px solid #ac4f4a;
  color: #e5e6e8;
}

a:hover { border-color: #dcca9b; }

h1, h2, h3, h4, h5, h6 {
  color: white;
  font-size: 1.5em;
  font-weight: normal;
  font-family: 'hoefler text',cochin, georgia, serif;
  font-style: italic;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: 2em;
}

hr {
  border: none;
  height: 1px;
  background: #e5e6e8;
  margin: 1em auto;
}

img { display: block; }

input {
  background: transparent;
  color: inherit;
  border: none;
  border-bottom: 1px solid;
  font-family: "menlo", "monaco", monospace;
}

input[type=submit] {
  font-weight: bold;
  cursor: pointer;
  border: none;
}

input:focus {
  outline: none;
}

