html {
  color: #999;
  min-height: 100%;
  background-color: #fff;
  font-family: 'avenir next', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.4;
}

a {
  color: #333;
  text-decoration: none;
  -webkit-transition: color .3s;
}

a:hover { color: #666; }

nav {
  color: #333;
  font-weight: bold;
}
nav a {
  color: #999;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}
.inverted {
  color: white;
  background-color: #999;
}

.article_title {
  color: #333;
  margin-top: 1em;
  margin-bottom: 1em;
}
.article_date {
  color: #aaa;
  font-size: smaller;
  font-weight: normal;
}
.article_content {
  font-size: 1.2em;
  color: #666;
}
.bandcamp {
  background-color: #eee;
}
.newspaper {
  border-top: 1em solid #eee;
}
.newspaper h2 {
  font-size: 1em;
}
.newspaper section {
  border-top: 1px solid #eee;
}
.newspaper section:first-child {
  border-top: none;
}
.newspaper nav {
  text-align: center;
}
@media (min-width: 700px) {
  .article_content {
    font-size: 1.8em;
  }
}
