html {
  color: #e5e6e8;
  min-height: 100%;
  background-color: #26292c;
  background-image: url(/images/noise.jpg);
  background-size: 120px 120px;
  font-family: "menlo", "monaco", monospace;
  //-webkit-font-smoothing: antialiased;
}


.white {
  background-color: #e5e6e8;
  color: #26292c;
}

.splash_bottom a {
  background: #e5e6e8;
  color: black;
  line-height: 2em;
  height: 2em;
  display: inline-block;
  padding: 0 1em;
  margin-top: -1em;
}

.mp3 {
  background: #111213;
  border: 1px solid #e5e6e8;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border .3s;
}

.mp3:hover {
  border: 1px solid #ac4f4a;
}

.calendar_date {
  background: #e5e6e8;
  color: #000;
}
.calendar_month {
  padding: .1em;
  background: #ac4f4a;
  color: #e5e6e8;
}

a {
  text-decoration: none;
  border-bottom: 2px solid #ac4f4a;
  color: #e5e6e8;
}

a:hover { border-color: #dcca9b; }

h1, h2, h3, h4, h5, h6 {
  color: white;
  font-size: 1.5em;
  font-weight: normal;
  font-family: 'hoefler text', cochin, georgia, serif;
  font-style: italic;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: 2.5em;
  //font-family: didot,sans-serif;
  //font-weight: bold;
  margin-bottom: 0;
}

hr {
  border: none;
  height: 1px;
  background: #e5e6e8;
  margin: 1em auto;
}

img { display: block; }

input {
  background: transparent;
  color: inherit;
  border: none;
  border-bottom: 1px solid;
  font-family: "menlo", "monaco", monospace;
}

input[type=submit] {
  font-weight: bold;
  cursor: pointer;
  border: none;
}

input:focus {
  outline: none;
}

article.posts {
  font-family: "Hoefler Text", "Book Antiqua", times, serif;
  -webkit-font-smoothing: antialiased;
}
article.posts > * {
  font-size: 1.8em;
}

article.posts p {
  max-width: 700px;
}

article.posts img {
  max-width: 100%;
}

article.posts h2 {
  font-size: 2.5em;
  border-bottom: 1px solid;
}

article.posts .post_date {
  font-size: .7em;
  color: #dcca9b;
  padding-left: 1em;
}

.category_pagination {
  margin-top: 3em;
  padding-top: 1em;
  border-top: 1px dashed;
}
.category_pagination h4 {
  font-size: 1em;
  text-transform: capitalize;
}
