---
title: Videos
layout: list
banner: /images/videos.jpg
---

<ul class="videos">
  {% for video in site.categories.videos %}
  <li>
    <h3><a href="{{ video.url }}">{{ video.title }}</a></h3>
    <div class='embedded_video'>
      {% if video.poster %}
        <a class='embedded_video' href='http://www.youtube.com/watch?v={{ video.youtube_id }}'>
          <img src="{{ video.poster }}" alt=" {{ video.title }}" />
        </a>
      {% else %}
        <iframe src="//www.youtube.com/embed/{{ video.youtube_id }}" frameborder=0 webkitAllowFullScreen mozallowfullscreen allowFullScreen seamless></iframe>
      {% endif %}
    </div>
  </li>
  {% endfor %}
</ul>
