{% include header.html %}
{% include nav.html %}
{% assign cat = page.categories[0] %}

<article class="text sized {{ page.categories }} ">
  <h2 class='article_title'>
    {{ page.title }}
    {% if cat %}<span class="article_date">{{ page.date | date: "%D" }}</span>{% endif %}
  </h2>

  <div class='article_content'>
  {{ content }}
  </div>

  {% if cat %}
  <div class="category_pagination">
    {% include category_pagination.html %}
  </div>
  {% endif %}
</article>
{% include footer.html %}

