{% include header.html %}
{% assign cat = page.categories[0] %}

<div class="text sized {{ page.categories }} ">
  <div class="row">
    
    <div class='article_date g3'>
      {{ page.date | date: "%d %B %Y" }}
    </div>

    <div class='article_content g6'>
      <h2 class="article_title">{{ page.title }}</h2>
      {{ content }}
    </div>

    {% if cat %}
    <div class="category_pagination g2 s1">
      {% include category_pagination.html %}
    </div>
    {% endif %}
  </div>
</div>
{% include footer.html %}

